Source: furicam
Section: libs
Maintainer: nico359 <124350776+nico359@users.noreply.github.com>
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-multimedia-dev,
               libegl-dev,
               qml6-module-qt5compat-graphicaleffects,
               qt6-tools-dev-tools,
               libz-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               pkgconf,
               libzxing-dev,
               libexiv2-dev,
               libglib2.0-dev,
               libopencv-core-dev,
               libopencv-imgproc-dev,
               libopencv-photo-dev,
Standards-Version: 4.7.0

Package: furicam
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qml6-module-qtmultimedia,
         libqt6multimedia6, 
         qml6-module-qtquick, 
         qml6-module-qtquick-controls, 
         qml6-module-qtquick-window, 
         qml6-module-qt-labs-platform, 
         qml6-module-qt-labs-folderlistmodel, 
         qml6-module-qt-labs-settings, 
         qml6-module-qtquick-layouts, 
         qml6-module-qt5compat-graphicaleffects,
         qml6-module-qtquick-shapes,
         mkvtoolnix,
         ffmpeg,
         libqt6svg6,
         qt6-svg-plugins,
         libgstreamer1.0-0,
         gstreamer1.0-droid,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-base,
         qml6-module-qtsensors,
Description: FuriCam - an enhanced camera app for FuriPhone.
